.DogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 2rem;
  }
  
  .DogListDog {
    margin: 1rem;
    text-align: center;
    cursor: pointer;
  }
  
  .DogListDog h2 {
    margin-top: 0;
  }
  
  .DogListDog img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  